<div class="card">
  <div class="container">
     <%= cl_image_tag @picture.photo,
        width: 500, height: 500, crop: :fill %>
    <h3> <%= @picture.date %> </h3>
    <h3> <%= @picture.address %> </h3>

  </div>
</div>

<div class="container">
<!--   <p><%#= link_to "+ Add Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %></p>
 -->  <p><%= link_to "Back to Picture Overview", pictures_path %></p>
</div>
